html, body, div, span, applet, object, iframe,   /* RESET */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}




                /* DEBUT POP UP JS */

                
/* h5 {                
    font-family: roboto;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}
 */

                /* FIN POP UP JS */




                /* DEBUT MENU BOOTSTRAP */     


.nav-link {         /*lien sans le survol */
    font-size: 2.8vh;
    font-family: Helvetica;
    color: white !important;
}


.nav-link:hover {    /* lien au survol de la souris */
    color: #fb2ca2 !important;
}

.dropdown-item {      /* lien menu dropdown */
    font-size: 2.8vh;
    color: white;
    font-family: Helvetica;
}

.dropdown-item:hover {  /* lien dropdown au survol de la souris */
    background-color: #343a40;
    color: #fb2ca2;
}

.btn {          /* couleur bouton */
    color: white;
    background-color: #fb2ca2;
    font-family: Helvetica;
}

.btn:hover {      /* couleur bouton au survol */
    color: white;
    background-color: #fb2ca2;
}

/* MEDIA QUERIES POUR NAV LINK */

  
@media screen and (min-width: 280px) and (max-width: 410px) { 
    
    .nav-link, .dropdown-item  {        
        font-size: 1.4vh;
    }
}

@media screen and (min-width: 410px) and (max-width: 438px) {     

    .nav-link, .dropdown-item  {        
        font-size: 1.7vh;
    }

}


@media screen and (min-width: 438px) and (max-width: 605px) {     

    .nav-link, .dropdown-item  {        
        font-size: 2vh;
    }

}

@media screen and (min-width: 605px) and (max-width: 1160px) {     

    .nav-link, .dropdown-item  {        
        font-size: 2.3vh;
    }

}

@media screen and (min-width: 1160px) and (max-width: 1200px) {     

    .nav-link, .dropdown-item  {        
        font-size: 2.3vh;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1250px) {     

    .nav-link, .dropdown-item  {        
        font-size: 2.5vh;
    }

}

@media screen and (min-width: 1250px) and (max-width: 1300px) {     

    .nav-link, .dropdown-item  {        
        font-size: 2.6vh;
    }

}

@media screen and (min-width: 1250px) and (max-width: 1340px) {     

    .nav-link, .dropdown-item  {        
        font-size: 2.7vh;
    }

}

/* FIN MEDIA QUERIES POUR NAV LINK */


                /* FIN MENU BOOTSTRAP */



                /* DEBUT PARTICULE JS */


#particles-js {   /* particle JS */
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

                /* FIN PARTICULE JS */



                /* DEBUT CONTENU Z-INDEX SUR PARTICULE */

/* 
.titre:hover { /* EUGENIE KHAYAT SURVOL 
    transition: all 0.5s ease 0s;
    color: rgb(61, 61, 61);
} */

/* .phrase-qualite:hover {     /* phrase qualite survol 
    transition: all 0.5s ease 0s;
    color: rgb(61, 61, 61);
} */

.parent1-texte { /* englobe mon petit parent */
    display: table-cell;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    top: 30vh;
    padding-left: 30%; /* pour decaler vers la droite PADDING LEFT : NONE en dessous de 760 px par exemple */
}

.parent-texte {  /* englobe mes span */
    text-align: center;
    vertical-align: middle;
}


.titre { /* EUGENIE KHAYAT */
    font-family: roboto;
    /* font-size: 150%; */
    font-size: 3.5vw;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.sous-titre {  /* DEVELOPPEUSE WEB FULLSTACK */
    color: #fb2ca2;
    font-family: roboto;
    /* font-size: 200%; */
    font-size: 3.2vw;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-top: 6%;
}

.phrase-qualite {  /* phrase qualite */
    font-family: roboto;
     /* font-size: 150%; */
    font-size: 2.3vw;
    color: white;
    letter-spacing: 7px;
    padding-top: 9%;
}

.titre {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  /* DEBUT MEDIA QUERIES POUR TEXTE TX SUR PARTICLE */

  @media screen and (min-width: 200px) and (max-width: 1200px) {     /* JUSQUA 1200 LE TEXTE EST CENTRER ET IL Y A DES MARGIN */

    .parent1-texte { /* englobe mon petit parent */
        padding-left: 0; /* pour supprimer le decalage en dessous de 737 et le recentrer */
    }

    .sous-titre {  /* DEVELOPPEUSE WEB FULLSTACK */
        padding-top: 12%;
    }
    
    .phrase-qualite {  /* phrase qualite */
        padding-top: 15%;
    }
    
}


@media screen and (min-width: 200px) and (max-width: 737px) {     /* JUSQUA 737 LES TAILLES DE MES TEXTE SONT GROSSI ET LE SOUS TITRE EST BOLD */

    .sous-titre {  /* DEVELOPPEUSE WEB FULLSTACK */
        font-weight: bold;
    }

    .titre {
        font-size: 4.9vw;
    }

    .sous-titre {  /* DEVELOPPEUSE WEB FULLSTACK */
        font-size: 5.3vw;
        padding-top: 6%;
    }
    
    .phrase-qualite {  /* phrase qualite */
        font-size: 3.7vw;
        padding-top: 9%;
        
    }
    
}

  /* FIN MEDIA QUERIES POUR TEXTE TX SUR PARTICLE */


                /* FIN CONTENU Z-INDEX SUR PARTICULE */



                /* DEBUT FOOTER */

footer {        /* POUR QUE MON FOOTER SOIT EN BAS */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.parent-footer {
    display: flex;
    justify-content: space-around;
}
.row {      /*4 pour supprimer la margin-right -15px a droite */
    margin-right: 0;
}

.copyright {        /* copyright */
    font-family: roboto;
    font-size: 2.2vh;
    color: white;
}

.texte-footer {         /* mention legal et contact hover */
    font-family: roboto;
    font-size: 2.2vh;
    color: white;
}

.texte-footer:hover {        /* mention legal et contact hover */
    color: white;
}

.fab, .far {            /* couleur pictogramme */
    color: #fb2ca2;
    font-size: 2em;
}

@media screen and (max-width: 768px) {      /* en dessous de 768 les picto retrecisse */
    .fab, .far {      
        font-size: 1.4em;
    }

}


                /* FIN FOOTER */

                
