.navbar {
    position: fixed;
    width: 100%;
    padding: 0.5%;
}

.navbar-item,
a.navbar-link {
    font-size: 19px;
}


/* DEBUT PAGE INDEX */


.fondimagetexte {
    /* RELATIF A TOUTES LES PAGES */
    position: relative;
    min-height: 400px;
    margin: 0 auto;
}


h2 {
    font-family: roboto;
    text-align: center;
    font-size: 45px;
    color: rgb(250, 57, 131);
    margin-bottom: 50px;
}

iframe {
    padding-top: 70px;
    margin-bottom: 100px;
}


p {
    font-family: roboto;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(250, 57, 131);
    font-size: 25px;
    margin-top: -10px;
    padding-bottom: 130px;
}

/* FIN PAGE INDEX */




.footerchevauche {
    position: relative;
    min-height: 150px;
    margin: 0 auto;
    width: 100%;
    /* pour une question d'esthetique */
}

.footer {
    background-color: #363636;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1%;
    z-index: 8;
}

.copyright {
    font-family: roboto;
    margin-right: 50px;
    color: white;
}

.mention {
    font-family: roboto;
    margin-right: 50px;
    color: white;

}