.navbar {
    position: fixed;
    width: 100%;
    padding: 0.5%;
}

.navbar-item, a.navbar-link {
    font-size: 19px;
}


h1 {
    font-family: roboto;
    font-size: 45px;
    color: rgb(245, 22, 108);
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}


a img {
    border-radius: 20px 20px 20px 20px;
    border: solid rgb(245, 22, 108);
    padding: 1.5%;
}

h2{
    font-family: roboto;
    text-align: center;
    font-size: 35px;
    color: rgb(245, 22, 108);
    font-weight: bold;
    padding-top: 10px;
}

.column {
    margin-bottom: 50px;
}

.passion {
    font-family: roboto;
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 100px;
    color: rgb(65, 61, 62);
    font-size: 28px;
}
p {
    font-family: roboto;
    margin-left: 1.5%;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(65, 61, 62);
    font-size: 20px;
}


.galerie:hover {            
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.galerie {   /* vitesse agrandissement photo */
    
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-right: auto;
    margin-left: auto;

}

.footer {
    background-color: #363636;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1%;
    z-index: 8;
}

.footerchevauche {
    position: relative;
    min-height: 150px;
    margin:0 auto;
    width: 100%;
  /* pour une question d'esthetique */
}
.copyright {
    font-family: roboto;
    margin-right: 50px;
    color: white;
}

.mention {
    font-family: roboto;
    margin-right: 50px;
    color:  white;

}