.navbar {
    position: fixed;
    width: 100%;
    padding: 0.5%;
}

.navbar-item, a.navbar-link {
    font-size: 19px;
}


                                        /* DEBUT PAGE INDEX */


.fondimagetexte {               /* RELATIF A TOUTES LES PAGES */
    position: relative;
    min-height: 400px;
    margin:0 auto;
}



.fondimage {
    position: relative;
    z-index: 1;
}

.texte {
    position: absolute;
    top: 300px; 
    right: 200px; 
    z-index: 2;
    font-size:200%;
    color: black;
}




   
.card {
  top: 300px;
}



.footer {
    background-color: #363636;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1%;
    z-index: 8;
}


.copyright {
    font-family: roboto;
    margin-right: 50px;
    color: white;
}

.mention {
    font-family: roboto;
    margin-right: 50px;
    color:  white;

}